div#root {
  background: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

div#root div.centerpane {
  background: whitesmoke;
  width: 100%;
  max-width: 100%; //DO NOT TOUCH YOU SPANNER
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

div#root div.centerpane > main {
  padding: 30px;
  width: 100%;
}
