form.idForm {
  font-size: 90%;
  display: flex;
  flex-direction: column;
}

label.idLabel {
  margin: 10px;
}

input.idInput {
  height: 30px;
  margin: 0 10px 10px 10px;
}

input.submitButton {
  width: 75%;
  height: 30px;
  margin-top: 75px;
  margin-right: 90px;
  border: none;
  background: #2aaa5f;
  color: white;
  cursor: pointer;
  align-self: flex-end;
}
