label.idLabel {
  font-size: 85%;
  margin-right: 20px;
}

form.idForm {
  padding: 10px;
}

input.idInput {
  height: 30px;
  width: 500px;
}

input.submitButton {
  background-color: #2aaa5f;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
}
