@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400&family=Quicksand:wght@300&family=Rubik&display=swap");

// Default styling

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost";
}
