div.wrapper {
  cursor: pointer;
  border: 1px solid lightgrey;
  padding: 10px 0 10px 10px;
  margin: 10px;
}

div.accordion {
  display: flex;
}

div.title {
  flex: 1;
}

div.item-1 {
  flex: 1;
}

div.item-2 {
  flex: 1;
}

div.item-3 {
  flex: 1;
}
div.item-4 {
  flex: 1;
}

span.toggle {
  flex: 0.5;
}

div.additional-information {
  padding: 10px 0 0 0;
  max-height: 0;
  overflow: hidden;
}

div.additional-information-show {
  padding: 10px 0 0 0;
  max-height: 1;
}
div.basement {
}
