div.large-card {
  border: solid lightgrey 1px;
  border-radius: 5px;
  background-color: white;
}

div.large-container {
  max-width: 1250px;
  display: grid;
  margin: auto;
}

div.large-title {
  margin: 10px;
  padding: 5px;
  font-size: 20px;
}

button.add-appointment {
  background-color: #2aaa5f;
  width: 250px;
  position: relative;
  left: 980px;
  cursor: pointer;
}
