div.card {
  margin: 10px;
  padding: 20px;
  width: 1450px;
  height: 492px;
  background-color: white;
  box-shadow: 1px 1.5px 2px 0px rgba(0.1, 0, 0, 0.1);
}

div.title {
  margin: 1px;
  padding: 1px;
  text-decoration-line: underline;
}
