div.medium-title {
  font-size: 130%;
  padding: 10px;
}

div.medium-card {
  box-shadow: 1px 1.5px 2px 0px rgba(0.1, 0, 0, 0.1);
  border-radius: 1px;
  background-color: white;
  display: flex;
  justify-content: left;
  width: 800px;
  height: 300px;
  margin-top: 40px;
  margin-left: 265px;
  display: flex;
  flex-direction: column;
}

div.medium-container {
  padding: 2px 16px;
  height: 100px;
}
